/** @type {import('next').NextConfig} */
const nextConfig = {
  output: 'export',  // <--- INI KUNCINYA (Supaya jadi file statis HTML)
  images: {
    unoptimized: true, // <--- PENTING: Supaya gambar tidak error di GitHub Pages
  },
};

export default nextConfig;
node_modules
